@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--white);
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 0px;
  font-weight: 800;
}

.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.logo {
  color: var(--iris);
}

.studio {
  color: var(--navy-blue);
}

.studio-footer {
  color: var(--cloud);
}

.nav-menu .page {
  color: var(--navy-blue);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list {
  list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacs-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--ocean);
}

.contacts-menu .item {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.bg-hero {
  background-color: var(--navy-blue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.bg-team {
  background-color: var(--cloud);
}

.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.03em;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.5;
  font-weight: 500;
  font-family: -inherit;
}

.btn.filter:hover,
.btn.filter:focus {
  color: var(--white);
  background-color: var(--ocean);
  border-radius: 4px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}

.button.filter {
  background: var(--cloud);
  color: var(--iris);
  line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  color: var(--cloud);
  background-color: var(--ocean);
}

.benefits .title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
}

.desc-list {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
}

.section-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.team .name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.project {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.project .type {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.bg-footer {
  background: var(--navy-blue);
}

.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
}
